<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/layui.css}">
    <link rel="stylesheet" th:href="@{/lay/modules/formSelects-v4/formSelects-v4.css}">
    <script th:src="@{/layui.all.js}"></script>
    <script th:src="@{/tableSelect.js}"></script>
</head>
<body>
<div>
    <form class="layui-form" action="">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>模板选择</legend>
        </fieldset>
        <div class="layui-form-item">
            <label class="layui-form-label">模板:</label>
            <div class="layui-input-block">
                <input type="radio" name="tpl" value="crud" title="基本crud" checked="">
                <input type="radio" name="tpl" value="sde" title="service+dao+entity">
                <input type="radio" name="tpl" value="treeList" title="树+列表">
            </div>
        </div>

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>文件上传</legend>
        </fieldset>
        <div class="layui-form-item">
            <label class="layui-form-label">文件上传</label>
            <div class="layui-input-block">
                <input type="radio" name="fileupload" value="singleFile" title="单文件上传" checked="">
                <input type="radio" name="fileupload" value="multipleFile" title="多文件上传">
                <input type="text" name="" style="width: 300px" placeholder="请输入关联字段" autocomplete="off" class="layui-input">
            </div>
        </div>

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>列属性</legend>
        </fieldset>
        <div class="layui-form-item">
            <table class="layui-table">
                <thead>
                <tr>
                    <th>列名</th>
                    <th>java类型</th>
                    <th>显示</th>
                    <th>控件</th>
                    <th>查找</th>
                    <th>查询</th>
                    <th>字典</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each=" columnDto :${columnList}">
                    <td th:text="${columnDto.name}"></td>
                    <td th:text="${columnDto.javaType}"></td>
                    <td><input type="checkbox" name="sex" lay-skin="switch" lay-text="是|否"
                               lay-filter="sexDemo" {{'checked'}}>
                    </td>
                    <td>
                        <select xm-select="city">
                            <option value="1">input</option>
                            <option value="2">select</option>
                            <option value="3">开关</option>
                            <option value="4">文本域</option>
                        </select>
                    </td>
                    <td>
                        <select xm-select="city">
                            <option value="1">input</option>
                            <option value="2">select</option>
                            <option value="3">开关</option>
                            <option value="4">文本域</option>
                        </select>
                    </td>
                    <td>
                        <select xm-select="city">
                            <option value=""></option>
                            <option value="1">北京</option>
                            <option value="2">上海</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="" placeholder="请输入" autocomplete="off" class="layui-input" id="demo">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    //全局定义一次, 加载formSelects
    layui.config({
        base: '/lay/modules' //此处路径请自行处理, 可以使用绝对路径
    }).extend({
        formSelects: '/formSelects-v4/formSelects-v4'
    });
    //加载模块
    layui.use(['jquery', 'formSelects'], function () {
        var formSelects = layui.formSelects;
    });
</script>
<script type="text/javascript">
    var form = layui.form;
    form.render();
    var tableSelect = layui.tableSelect;

    tableSelect.render({
        elem: '#demo',
        searchKey: 'my',
        checkedKey: 'id',
        searchPlaceholder: '自定义文字和name',
        table: {
            url: 'table.json',
            cols: [
                [
                    {type: 'checkbox'},
                    {field: 'id', title: 'ID', width: 100},
                    {field: 'username', title: '姓名', width: 300},
                    {field: 'sex', title: '性别', width: 100}
                ]
            ]
        },
        done: function (elem, data) {
            var NEWJSON = []
            layui.each(data.data, function (index, item) {
                NEWJSON.push(item.username)
            })
            elem.val(NEWJSON.join(","))
        }
    })


    tableSelect.render({
        elem: '#demo2',
        checkedKey: 'id',
        table: {
            url: 'table.json',
            cols: [
                [
                    {type: 'radio'},
                    {field: 'id', title: 'ID'},
                    {field: 'username', title: '姓名'},
                    {field: 'sex', title: '性别'}
                ]
            ]
        },
        done: function (elem, data) {
            var NEWJSON = []
            layui.each(data.data, function (index, item) {
                NEWJSON.push(item.username)
            })
            elem.val(NEWJSON.join(","))
        }
    })


</script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            }
            , pass: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });

        //监听指定开关
        form.on('switch(switchTest)', function (data) {
            layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });

        //监听提交
        form.on('submit(demo1)', function (data) {
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });

        //表单初始赋值
        form.val('example', {
            "username": "贤心" // "name": "value"
            , "password": "123456"
            , "interest": 1
            , "like[write]": true //复选框选中状态
            , "close": true //开关状态
            , "sex": "女"
            , "desc": "我爱 layui"
        })


    });
</script>
</body>
</html>