<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!--抽取底部 片段-->
<div th:fragment="left">
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">系统设置</a>
                    <dl class="layui-nav-child l">
                        <dd><a href="javascript:;">用户管理</a></dd>
                        <dd><a href="javascript:;">角色管理</a></dd>
                        <dd><a href="#" class="site-demo-active" onclick="addTab('menu','菜单管理','http://127.0.0.1:8099/menu/list')">菜单管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">开发工具</a>
                    <dl class="layui-nav-child">
                        <dd><a href="#" class="site-demo-active" onclick="addTab('gencode','代码生成工具','http://127.0.0.1:8099/gencode/list')">代码生成工具</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">发布商品</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>