<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--加入公共的css-->
<head th:replace="/layout/header :: common_head(~{::title},~{::link})">

<body class="layui-layout-body">
   <div class="layui-layout layui-layout-admin">
     <!--顶部导航栏-->
     <div th:include="/layout/top::top"></div>
     <div th:include="/layout/left:: left"></div>
     <div class="layui-body">
         <div class="layui-tab" lay-filter="lay-filter" lay-allowclose="true">
             <ul class="layui-tab-title"></ul>
             <div class="layui-tab-content">
                 <div th:include="::content" style="padding-left: 20px"></div>
             </div>
         </div>
     </div>
     <!--引入底部片段-->
     <div th:include="/layout/footer :: footer"></div>
   </div>
</body>
<script>
    var tabArr = [];
    function addTab(id,title, url) {
        layui.use('element', function () {
            var $ = layui.jquery
                ,element = layui.element;
            var index = tabArr.indexOf(id);
            if (index !== -1) {//判断当前 tab 是否存在
                element.tabChange('lay-filter', id);//存在就直接切换，否则就添加
                return;
            }
            element.tabAdd('lay-filter',{
                title: title
                ,content: '<iframe  id="iframepage" width="100%" scrolling="no" src="http://www.baidu.com" frameborder="0" onload="changeFrameHeight()">'
                ,id: id //实际使用一般是规定好的id，这里以时间戳模拟下
            });
            tabArr.push(id);
            element.tabChange('lay-filter', id);
        });
    }
    window.onload = layui.use('element', function(){
        var $ = layui.jquery
            ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
        //触发事件
        var arr =[];
        var active = {
            tabAdd: function(){
                var index = arr.indexOf('menu');
                if (index !== -1) {
                    element.tabChange('demo', 'menu');
                    return;
                }
                //新增一个Tab项
                element.tabAdd('demo', {
                    title: '新选项' //用于演示
                    ,content: '<iframe  id="iframepage" width="100%" scrolling="no" src="http://www.baidu.com" frameborder="0" onload="changeFrameHeight()">'
                    ,id: 'menu' //实际使用一般是规定好的id，这里以时间戳模拟下
                });
                arr.push('menu');
                element.tabChange('demo', 'menu');
            }
            ,tabDelete: function(othis){
                //删除指定Tab项
                element.tabDelete('demo', '44'); //删除：“商品管理”
                var index = arr.indexOf('menu');
                arr.splice(index,1);
                othis.addClass('layui-btn-disabled');
            }
            ,tabChange: function(){
                //切换到指定Tab项
                element.tabChange('demo', '22'); //切换到：用户管理
            }
        };
        $('.site-demo-active').on('click', function(){
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });
        //Hash地址的定位
        var layid = location.hash.replace(/^#demo=/, '');
        element.tabChange('demo', 'menu');

        element.on('tab(demo)', function(elem){
            location.hash = 'demo='+ $(this).attr('lay-id');
        });
    });

    function changeFrameHeight(){
        var ifm= document.getElementById("iframepage");
        ifm.height=document.documentElement.clientHeight;
    }
    window.onresize=function(){
        changeFrameHeight();
    }
</script>

<div th:replace="layout/script::js_footer(~{::title},~{::script})"></div>
</html>