<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/layui.css}">
    <link rel="stylesheet" th:href="@{/lay/modules/formSelects-v4/formSelects-v4.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script th:src="@{/layui.all.js}"></script>
<!--<script th:src="@{/lay/modules/formSelects-v4/formSelects-v4.js}"></script>-->
<script type="text/javascript">
    //全局定义一次, 加载formSelects
    layui.config({
        base: '/lay/modules' //此处路径请自行处理, 可以使用绝对路径
    }).extend({
        formSelects: '/formSelects-v4/formSelects-v4'
    });
    //加载模块
    layui.use(['jquery', 'formSelects'], function(){
        var formSelects = layui.formSelects;

    });
</script>
<body>
<div>
    <p>sdflafjladf</p>
    <select xm-select="city">
        <option value=""></option>
        <option value="1">北京</option>
        <option value="2">上海</option>
    </select>
</div>
</body>
</html>